#map {
    height: 100%;
}
html, body, .map {
    height: 100%; 
    padding: 0;
    background-image: url('../wood-1700562_960_720.jpg');
}
h1, h4{
    color: #f1f1f1;
    font-family: 'Permanent Marker', cursive;
}
h1{
    text-shadow: 8px 8px 8px rgb(170, 170, 170);
}
input{
    color: #f1f1f1 !important;
}