#map {
    height: 100%;
}
html, body, .map {
    height: 100%; 
    padding: 0;
    background-color: black;
}
h1, h4{
    color: #f1f1f1;
    font-family: 'Permanent Marker', cursive;
}
img{
    width: 50%;
    height: 50%;
}
h1{
    text-shadow: 8px 8px 8px rgb(170, 170, 170);
}