body{
  
    background-color: black;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    position: absolute; 
}
h1{
    color: #f1f1f1;
    font-family: 'Permanent Marker', cursive;
    padding-top: 10%;
    text-shadow: 8px 8px 8px rgb(170, 170, 170);
}
img{
    width: 50px;
}